html{
    font-family: "Open Sans", sans-seriff;
    background-color: floralwhite;
}

h1 {
    color: #dcfaff;
    text-align: center;
    font-weight: bold;
}

body {
    border: ghostwhite;
    background-color: rgb(250, 226, 184);
}
